<p></p>


<div class ="container">
  <div class ="col-md-3 mb-5">
    <h3 class ="bg-light">商品詳細</h3>
  </div>

  <div class ="row">
    <div class ="col-md-3 mr-0">
      <%= image_tag @item.image, size:"240x170" %>
    </div>
    <div class ="col-md-5 ml-0">
      <table class ="table table-borderless">
        <tbody>

          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>

            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td>税込価格<br />（税抜価格）</td>
            <td><%= @add_tax_price %>(<%= @item.price %>)円</td>
          </tr>
          <tr>
            <td>販売ステータス</td>
            <td>
              <% if @item.is_active == true %>
              <span class ="text-success font-weight-bold">販売中</span>
              <% else %>
              <span class ="text-secondary font-weight-bold">販売停止中</span>
              <% end %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td class="text-left"><%= link_to '編集する', admin_edit_items_path, class:"btn btn-success btn-lg" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
