<p></p>
<%= render "admin/shared/links" %>

<div class ="container">
  <div class ="col-md-3">
    <h3 class ="bg-light">
      <%= @cusotmer.name %>さんの会員詳細 %>
    </h3>
  </div>
  
  <div class ="row">
    <div class ="">
      <table class ="table table-borderless">
        <tbody>
          <%= @customer.each do |customer| %>
          <tr>
            <td>会員ID</td>
            <td><%= customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= customer.last_name %><%= cusotmer.first_name %></td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= customer.last_name_kana %><%= cusotmer.first_name_kana %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= cusotmer.telephone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
            <td><%= customer.is_active %></td>
          </tr>
          <tr>
            <td></td>
            <td><%= link_to '編集する', admin_edit_customers_path, class:"btn btn-success btn-lg pr-5" %><%= link_to '注文履歴一覧を見る', admin_show_orders, class:"btn btn-primary btn-lg" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>