<p></p>


<div class ="container">
  <div class ="col-md-12">
    <h3 class="d-flex justify-content-between"><span class ="bg-light col-md-4">ショッピングカート</span>
    <%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete, class:"btn btn-danger" %>
    </h3>
  </div>

  <div class ="row mt-5">
    <div class ="col-md-8">

      <table class ="table table-bordered">
        <tr class ="bg-light">
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <% @cart_items.each do |cart_item| %>
        <tr>
          <td><p><%= image_tag cart_item.item.get_image(90,60) %>　<%= cart_item.item.name %></p></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td>
            <%= form_with model: cart_item, url: update_cart_items_path(cart_item.id) do |f| %>
            <%= f.select :amount, *[1..10] %><%= f.submit '変更', class:"btn btn-success btn-sm ml-2" %>
            <% end %>
          </td>
          <td><%= cart_item.item.with_tax_price * cart_item.amount %></td>
          <td><%= link_to '削除する',destory_cart_items_path(cart_item.id) ,method: :delete, class:"btn btn-danger" %></td>
        </tr>
        <% @total += cart_item.item.with_tax_price * cart_item.amount %>
        <% end %>
      </table>
      <div class ="d-flex justify-content-between align-items-center mt-4">
        <%= link_to '買い物を続ける', root_path, class:"btn btn-primary ml-4" %>
        <table class ="table table-bordered col-md-4">
          <tr>
            <th class="table-light">合計金額</th>
            <td><%= @total %></td>
          </tr>
        </table>

      </div>

    </div>
  </div>
</div>