<p></p>


<div class ="container">
  <div class ="col-md-12">
    <h3 class ="bg-light">ショッピングカート</h3>
    <div class ="text-right">
    <%= link_to 'カートを空にする', destroy_all_cart_items_path, class:"btn btn-danger" %>
    </div>
  </div>
  
  <div class ="row">
    <div class ="col-md-8">
      <table class ="table table-bordered ">
        <% @ones_cart_items.each do |ones_cart_item| %>
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
        <tr>
          <td><%= ones_cart_item.name %></td>
          <td><%= (ones_cart_item.price*1.1).round %></td>
          <td>
            <%= form_with model:ones_cart_item do |f| %>
            <%= f.number :amount %><%= f.submit '変更する' %>
            <% end %>
          </td>
          <td></td>
          <td></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>