<p></p>


<div class ="container">
  <div class ="row mt-5">
      <div class ="col-md-3">
          <table class ="table-sm table-borderless border border-dark">
            <tr><th class ="border-bottom border-dark px-5">ジャンル検索</th></tr>
            <% @genres.each do |genre| %>
            <tr><td><%= genre.name %></td></tr>
            <% end %>
          </table>
      </div>

  <div class ="row">
    <div class ="mr-5">
      <%= image_tag @item.image,size:"300x200" %>
    </div>
    <div class ="">
      <h3 class ="font-weight-bold"><%= @item.name %></h3>
      <p class ="font-weight-bold"><%= @item.introduction %></p>
      <h4 class ="font-weight-bold mt-5">¥ <%= @item.price %><small>(税込)</small></h4>
      <p>
        
        <%= link_to 'カートに入れる', cart_items_path, class:"btn btn-success mt-4" %>
        
      </p>
    </div>
  </div>
</div>